# eclipse
eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.factorypath

# idea
out
*.ipr
*.iws
*.iml
.idea
/.apt_generated/

# gradle
build
.gradle

# other
run
logs
latest.log
/Users/

# Files from Forge MDK
forge*changelog.txt

/.apt_generated_tests/
